<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Add a question </title>
</head>
<body>
    <form action="/add_question" method="post">
        <label for="title" name="title"> Question's title: </label> <br>
        <input type="text" id="title" name="title"> <br><br>
        <label for="text"> Your question: </label> <br>
        <textarea id="text" name="text" rows="6" cols="50"></textarea> <br> <br>
        <button type="submit"> Save question </button>
    </form>
</body>
</html>