<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>
<h2>Title:</h2>
<h4>{{ question['title'] }}</h4>
<h2>Question:</h2>
<h4>{{ question['message'] }}</h4>
<h3>Add your comment:</h3>
<form action="{{ url_for('add_comment_to_question', q_id=q_id) }}" method="post">
    <label for="add-comment">Your comment:</label><br>
    <textarea name="add-comment" id="add-comment" cols="30" rows="10"></textarea><br>
    <button type="submit">Submit comment</button>
</form>
</body>
</html>