<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {%  block title %} Add a question {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">

</head>
<body>
    <form {% block form_action %} action="{{url_for('add_question')}}" {% endblock %} method="post" enctype="multipart/form-data">

        <label for="title" name="title"> Question's title: </label> <br>
        <input type="text" id="title" name="title" {% block title_text %}{% endblock %}> <br><br>

        <label for="text"> Your question: </label> <br>
        <textarea id="text" name="text" rows="6" cols="50">{% block text %}{% endblock %}</textarea> <br> <br>

    {%  block image  %}
        <label for="image_file"> Upload an image: </label> <br>
    {%  endblock %}

        <input type="file" id="image_file" name="image_file" accept=".png, .jpg, .jpeg"> <br> <br>
        <button type="submit" style="background-color:orange; border-color:turquoise;"> {% block button_text %} Save question {% endblock %}</button>
    </form>
    <br>
    <form action="{{url_for('index')}}">
        <button type="submit" style="background-color:red; border-color:orange">Cancel</button>
    </form>
</body>
</html>