<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Question details </title>
</head>
<body bgcolor="33c4a1">
    <h2>Title:</h2>
    {% for q_id, value in question.items() %}
        {% if q_id == id %}
            {% if value['title'] == ' ' %}
                <h4><i>This title is empty</i></h4>
            {% endif %}
            <h4>{{ value['title'] }}</h4>
        {% endif %}
    {% endfor %}
    <h2>Question:</h2>
    {% for q_id, value in question.items() %}
        {% if q_id == id %}
            {% if value['message'] == ' ' %}
                <h4><i>There is no question added</i></h4>
            {% endif %}
            <h4>{{ value['message'] }}</h4>
        {% endif %}
    {% endfor %}
    {% if question[id]['image'] == ' ' %}
        <p> <small> No image file had been uploaded! </small> </p>
    {% else %}
        <img src="{{ url_for("static", filename=question[id]['image']) }}" width="320">
    {%  endif %}
    <br>
    <a href="{{ url_for('delete_question', id=id) }}"><button style="background-color:red; border-color:orange;">Delete question</button></a>
    <br>

    <h2>Answer(s):</h2>
    {% for a_id, value in answer.items() %}
        {% if value['question_id'] == id %}
            {% if value['message'] == ' ' %}
                <h4><i>There is no answer added</i></h4>
            {% endif %}
            <h4>{{ value['message'] }}</h4>
            {% if value['image'] == '' %}
                <p> <small> No image file had been uploaded! </small> </p>
            {% else %}
                <img src="{{ url_for("static", filename=value['image']) }}" width="30"><br>
            {%  endif %}
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('add_new_answer', id=id)}}">Add a new answer</a><br><br>
    <a href="/">Home page</a>
</body>
</html>