{% extends 'add_question.html' %}
{% block title %} Edit question {% endblock %}

{% block title_text %} value={{title}} {% endblock %}

{% block form_action %} action={{ url_for("edit_question", id=id) }} {% endblock %}

{% block image %}
{% if image == ' ' %}
        <p> <small> No image file had been uploaded! </small> </p>
    {% else %}
        <img src="{{ url_for("static", filename=image) }}" width="320"> <br> <br>
    {%  endif %}
<label for="image_file"> Upload a new image: </label> <br>
{%  endblock %}

{% block text %}{{message}}{% endblock %}

{% block button_text %} Update question {% endblock %}
