<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>

<body>
    {% include 'header.html' %}

    {% if session %}
        You are logged in as {{ email }}. Your reputation is: {{ reputation }}.
    {% else   %}
        You are not logged in.
    {%  endif %}

    <a href="{{ url_for('login') }}" > Login </a> <br>
    <a href="{{ url_for('registration') }}" > User registration </a href>
</body>

</html>