<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>

<body>
    {% include 'header.html' %}

{#    <form method="post">#}
{#             <p><input type=text name=email>#}
{#             <p><input type=submit value=Login>#}
{#         </form>#}
    <a href="/questions_list"> Login </a> <br>
    <a href="{{ url_for('registration') }}" > User registration </ahref>
</body>

</html>