<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Questions list </title>
</head>

<body bgcolor="33c455">
    <a href="/add_question"> Add a new question </a> <br> <br>
    <table>
        <tr>
            {% block question_list %}
            {% for header in question_header  %}
                {% if header == orderby %}
                    <th> <a href= "{{ "/list?orderby=" + header + "&order=asc"}}"> >>+{{header}}+<< </a> </th>
                {% else %}
                    <th> <a href= "{{ "/list?orderby=" + header + "&order=asc"}}"> {{header}} </a> </th>
                {% endif %}
            {% endfor %}
            {% endblock %}
        </tr>
        {% for id in questions.keys() %}
            <tr>
                <td><a href={{ url_for('questions_and_answers', id=id)}}>{{ id }}</a></td>
                {% for key in questions[id].keys() %}
                    {%  if key == 'image' %}
                            {%  if questions[id]['image'] != ' ' %}
                                <td> <img src="{{ url_for("static", filename=questions[id]['image']) }}" height="30" width="30"> </td>
                            {%  else %}
                                <td> <img src="{{ url_for("static", filename='no_file_02.png') }}" height="30" width="30"> </td>
                            {%  endif %}
                    {% else %}
                        <td> {{ questions[id][key] }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>

</html>
