<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <title>Zsaszk Home page</title>
</head>

<body bgcolor="33c455">
    <center><h1 style="font-family:Helvetica">Zsaszk!</h1></center>
    <hr width="80%" color="blue">
    <center><h4>Zsask anything you want!</h4></center>
    <form>
        <textarea name="search" rows=1 cols=30 maxlength=30></textarea>
        <button type="submit" style="background-color:blue; border-color:green; color:whitesmoke">Search</button>
    </form>
    <a href="/add_question"> Add a new question </a><br><br>
    <table>
        <tr>
            {% block question_list %}
            {% for header in question_header  %}
                {% if header == orderby %}
                    <th> <a href= "{{ "/list?orderby=" + header + "&order=desc"}}"> {{header}} </a> </th>
                {% else %}
                    <th> <a href= "{{ "/list?orderby=" + header + "&order=desc"}}"> {{header}} </a> </th>
                {% endif %}
            {% endfor %}
            {% endblock %}
        </tr>
        {% for question in questions %}
            <tr>
{#                <td><a href={{ url_for('increase_view', question_id=id) }}>{{ id }}</a></td>#}
                {% for key in question.keys() %}
                    {%  if key == 'image' %}
                            {% if question['image'] != None %}
                                <td> <img src="{{ url_for("static", filename=question['image']) }}" height="30" width="30"> </td>
                            {% else %}
                                <td> <img src="{{ url_for("static", filename='no_file_02.png') }}" height="30" width="30"> </td>
                            {% endif %}
                    {% elif key == 'id' %}
                        <td><a href="{{ url_for('display_question', q_id=question['id']) }}">{{ question['id'] }}</a></td>
                    {% else %}
                        <td> {{ question[key] }} </td>
                    {% endif %}
                {% endfor %}
                <td>
                    <form action='/question/{{ question["id"] }}/vote/up' method="POST">
                        <button style="background-color:orange; border-color:green;"> Vote +1</button>
                    </form>
                </td>
                <td>
                    <form action='/question/{{ question["id"] }}/vote/down' method="POST">
                        <button style="background-color:orange; border-color:green;"> Vote -1</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>
