<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registraion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <h3> User registration </h3>
    <form action="{{ url_for('registration') }}" method="post">
        <label style="position: absolute; top: 50%; left: 35%;" > E-mail address: </label>
        <input style="position: absolute; top: 50%; left: 49%;" type="email" id="email" name="email" >
        <label style="position: absolute; top: 60%; left: 38%;"> Password: </label>
        <input style="position: absolute; top: 60%; left: 47%;" type="password" id="password" name="password" class="item_2">
        {% if already_taken == True %}
            <h5> This email address is already registered! </h5>
        {% endif %}

        <br>
        <button style="position: absolute; top: 70%; left: 45%;" class= "red_button" type="submit"> Register </button>
        <button style="position: absolute; top: 70%; left: 50%;" class= "blue_button"> <a href="{{ url_for('index') }}"> Cancel </a> </button>
    </form>


</body>
</html>