<!DOCKTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Registration date</th>
            <th>Number of asked question </th>
            <th>Number of answers</th>
            <th>Number of comments</th>
            <th>Reputation</th>
        </tr>
        <tr>
            {% for info in user_info %}
                <td>{{ info['id'] }}</td>
                <td>{{ info['email'] }}</td>
                <td>{{ info['reg_date'] }}</td>
            {% endfor %}
            {% for info in user_q_count %}
                <td>{{ info['question'] }}</td>
            {% endfor %}
            {% for info in user_a_count %}
                <td>{{ info['answer'] }}</td>
            {% endfor %}
            {% for info in user_c_count %}
                <td>{{ info['comment'] }}</td>
            {% endfor %}
            {% for info in user_info %}
                <td>{{ info['reputation'] }}</td>
            {% endfor %}
        </tr>
    </table>
    <h2>Questions:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        <tr>
            {% for info in user_questions %}
                <td><a href="{{ url_for('display_question', q_id=info['id']) }}">{{ info['id'] }}</a></td>
                <td>{{ info['submission_time'] }}</td>
                <td>{{ info['view_number'] }}</td>
                <td>{{ info['vote_number'] }}</td>
                <td>{{ info['title'] }}</td>
                <td>{{ info['message'] }}</td>
            {% endfor %}
        </tr>
    </table>
    <h2>Answers:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Vote number</th>
            <th>Message</th>
        </tr>
        <tr>
            {% for info in user_answers %}
                <td><a href="{{ url_for('display_question', q_id=info['question_id']) }}">{{ info['id'] }}</a></td>
                <td>{{ info['submission_time'] }}</td>
                <td>{{ info['vote_number'] }}</td>
                <td>{{ info['message'] }}</td>
            {% endfor %}
        </tr>
    </table>
    <h2>Comments:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Submission time</th>
            <th>Message</th>
        </tr>

        {% for info in user_comments %}
            <tr>
                <td><a href="{{ url_for('display_question', q_id=info['question_id']) }}">{{ info['id'] }}</a></td>
                <td>{{ info['submission_time'] }}</td>
                <td>{{ info['message'] }}</td>
            </tr>
        {% endfor %}

    </table>
    <br>
<a href="{{ url_for('questions_list') }}">Home page</a>
</body>
</html>